<?xml version="1.0" encoding="utf-8"?>
  <configuration>
    <system.webServer>        
      <handlers>
        <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
      </handlers>
      <rewrite>
        <rules>
 	<rule name="StaticContent">
                         <action type="Rewrite" url="public{REQUEST_URI}"/>
                    </rule>

                    <!-- All other URLs are mapped to the Node.js application entry point -->
                    <!--<rule name="DynamicContent">
                         <conditions>
                              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
                              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                         </conditions>
                         <action type="Rewrite" url="server.js"/>
                    </rule>-->
                    <rule name="AngularJS Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(login)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
       </rules>
      </rewrite>
    </system.webServer>
  </configuration>
