<h1>
    <p>SQL database User table</p>
</h1>
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>
<div>

    <table>
        <tr>
            <th>UserId</th>
            <th>Email</th>
            <th>Time</th>
        </tr>
        <% for (var i = 0; i < data.length; i++) { %>
            <tr>
                <td>
                    <%= data[i].userId %>
                </td>
                <td>
                    <%= data[i].email %>
                </td>
                <td>
                    <%= data[i].created_At %>
                </td>
            </tr>
            <% } %>
    </table>
</div>