<h1>
    <%= data %>
        <!-- Hello!!
        <p>User details table</p> -->
    </h1>
    
    <!-- <div>
        <form method="POST" action='/register'>
            <input type="text" class="form" name="email" placeholder="Enter Your Email">
            <button>Submit</button>
        </form>
        <table>
            <tr>
                <th>Email</th><th>Time</th>
            </tr>
            <% for (var i = 0; i < data.length; i++) { %>
                <tr>
                    <td><%= data[i].email %></td>
                    <td><%= data[i].created_At %></td>
                </tr>    
            <% } %>
        </table> 
    </div>          -->